<p>ここにユーザーの画像</p>
<img src="<%= @user.thumbnails %>" />

<%= @user.description %>

<% if @user.id == current_user.id %>
<%= link_to 'プロフィールを編集', edit_user_registration_path %>
<% end %>

<p>アップした動画：<%= @user.videos.count %></p>
<p>作成したまとめ：<%= @user.curations.count %></p>
<p>フォロワー：<%= @user.followers.count %></p>

<hr>
<h3>ライクした動画</h3>
<% @user.video_likes.each do |video_like| %>
  <img src="<%= video_like.video.thumbnails %>" /><br>
  <%= video_like.video.title %><br>
  <% video_like.video.video_tags.each do |video_tag| %>
    <span><%= video_tag.tag.tag %> |  </span>
  <% end %>
  <p><%= video_like.video.description %></p>
  <p>♡<%= video_like.video.video_likes.count %></p>
<% end %>

<h3>ライクしたまとめ</h3>
<% @user.curations.each do |curation| %>
  <h4><%= curation.title %></h4><br>
  <% curation.curation_tags.each do |curation_tag| %>
    <span> <%= curation_tag.tag.tag %> | </span>
  <% end %><br>
  <p><%= curation.description %></p>
  <p><img src="<%= @user.thumbnails %>" /><%= @user.username %></p>
  <p>動画の本数:<%= curation.curation_videos.count %></p>
  <p>視聴者数[todo]</p>
  <p>このキュレーションのlike数:<%= curation.curation_likes.count %></p>
<% end %>

<h3>お気に入りユーザー</h3>
<% @user.following.each do |follow| %>
  <p>サムネイル：<%= follow.thumbnails %></p>
  <p>名前：<%= follow.username %></p>
  <p>説明：<%= follow.description %></p>
  <p>キュレーション：<%= follow.curations.count %></p>
  <p>フォロワー数：<%= follow.followers.count %></p>
<% end %>


