<p>ここにユーザーの画像</p>
<img src="<%= current_user.thumbnails %>" />


<%= current_user.description %>

<%= link_to 'プロフィールを編集', edit_user_registration_path %>


<%= link_to controller: "devise/registrations", action: "edit" do %>
<%= current_user.videos.count %>
<p>アップした動画</p>
<% end %>

<%= link_to controller: "devise/registrations", action: "edit" do %>
<%= current_user.curations.count %>
<p>作成したまとめ</p>
<% end %>

<%= link_to controller: "devise/registrations", action: "edit" do %>
<%= current_user.followers.count %>
<p>フォロワー</p>
<% end %>
