<p id="notice"><%= notice %></p>

<!-- 動画の表示 -->
<iframe src=<%= @video.url %> frameborder=0 width=510 height=400 scrolling=no allowfullscreen=allowfullscreen></iframe>
<p>
  save数：+未実装 / お気に入り数：♡<%= @video.video_likes.count%> / watch数👀：未実装 / 追加日：+<%= @video.created_at%>
</p>

<div>
  <button type="button" class="btn btn-primary">保存</button>
  <button type="button" class="btn btn-primary">エロいね！</button>
  <a href="https://www.xvideos.com/video25459543/slippery_and_wet_oriental_gangbang"><button type="button" class="btn btn-primary">動画元(コンボボックスにしたい)</button></a>
  <button type="button" class="btn btn-primary">その他</button>
  <button type="button" class="btn btn-primary">ツイート</button>
</div>

<hr>
<!-- 動画情報の表示 -->
<p>
  <h3><strong>Title:</strong><%= @video.title %></h3>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @video.website %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>


<hr>
<!-- キーワード（タグ）の表示 -->
<div><p>キーワード</p></div>

<hr>
<!-- コメントの表示 -->
<div class="caption">
  <div><p>コメント</p></div>
    <%= form_for(@comment) do |f| %>
      <p>from:</p><p><%= f.text_field :comment %></p>
      <%= f.submit 'コメントを投稿する' %>
    <% end %>


</div>


<hr>
<!-- 関連動画表示 -->
<div><p>関連動画表示</p></div>



<hr>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


