<p id="notice"><%= notice %></p>

<!-- 動画の表示 -->
<iframe src=<%= @video.url %> frameborder=0 width=510 height=400 scrolling=no allowfullscreen=allowfullscreen></iframe>

<p>save数：+未実装 / お気に入り数：♡<%= @video.video_likes.count%> / watch数👀：未実装 / 追加日：+<%= @video.created_at%></p>

<div>
  <%= link_to  '保存', new_curation_path, method: :create, data: { confirm: 'Are you sure?'}, class: "btn btn-primary" %>

  <%= link_to "リンク名", new_report_path(:report_id => @report.id, :params_controller => params[:controller]) %>

  <button type="button" class="btn btn-primary">エロいね！</button>
  <a href="https://www.xvideos.com/video25459543/slippery_and_wet_oriental_gangbang"><button type="button" class="btn btn-primary">動画元(コンボボックスにしたい)</button></a>
  <button type="button" class="btn btn-primary">その他</button>
  <button type="button" class="btn btn-primary">ツイート</button>
</div>

<hr>
<!-- 動画情報の表示 -->
<p>
  <h3><strong>Title:</strong><%= @video.title %></h3>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @video.website %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>


<hr>
<!-- キーワード（タグ）の表示 -->
<div><p>キーワード</p></div>

<hr>
<!-- コメントの表示 -->
<div class="caption">
  <div><p>コメント</p></div>
    <% @video.video_comments.each do |comment| %>
      <div class="comment">
        <%= comment.user.username %>
        <%= comment.comment %>
      </div>
    <% end %>
  <div><p>コメント入力</p></div>

</div>


<hr>
<!-- 関連動画表示 -->
<div><p>関連動画表示</p></div>



<hr>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


