<p id="notice"><%= notice %></p>

<!-- 動画 -->
<p>
  <iframe src="<%= @video.url %>" frameborder=0 width=510 height=400 scrolling=no allowfullscreen=allowfullscreen></iframe>
</p>

<p>
  <h3><strong>Title:</strong><%= @video.title %></h3>
</p>

<p>
  <% @video.video_tags.each do |tag| %>
    <li><%= tag.tag.tag %></li>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <button type="button" class="btn btn-primary">1Dayブックマーク</button>
  <button type="button" class="btn btn-primary">お気に入り</button>
</p>

<hr><!-- コメントの表示 -->
<div><p>コメント一覧</p></div>
  <% @video_comments.each do |video_comment| %>
    <p>USER<%= video_comment.user_id %>:　<%= video_comment.comment %></p>
  <% end %>
</div>

<hr><!-- コメント欄 -->
<div><p>コメント</p></div>
  <%= form_for(@comment) do |f| %>
    <p><%= f.hidden_field :video_id , :value => @video.id %>
    <p><%= f.hidden_field :user_id , :value => current_user.id %>
    <%= f.text_field :comment %>
    <%= f.submit 'コメントを投稿する' %>
  <% end %>
</div>

<hr><!-- 関連動画表示 -->
<div><p>関連動画表示</p></div>
<% @videos.each do | video | %>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; border-radius: 5px;">
    <p><strong>Title:</strong><%= video.title %></p>
    <p><strong>Description:</strong><%= @video.description %></p>
  </div>
<% end %>

<hr>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Top', root_path %>


