<%= form_for(curation_like) do |f| %>
  <% if curation_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curation_like.errors.count, "error") %> prohibited this curation_like from being saved:</h2>

      <ul>
      <% curation_like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :curation_id %>
    <%= f.text_field :curation_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
