<%= form_for(curation) do |f| %>
  <% if curation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curation.errors.count, "error") %> prohibited this curation from being saved:</h2>

      <ul>
      <% curation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
