<p id="notice"><%= notice %></p>

<h1>Curations</h1>


<div class="row">
  <% @curations.each do |curation| %>
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src="holder.js/200x200" alt="...">
      <div class="caption">
        <p>動画本数：<%= curation.curation_videos.count%></p>
        <p>閲覧数：[todo]</p>
        <p>お気に入り数：♡<%= curation.curation_likes.count%></p>

        <%= link_to curation_path(curation) do %>
          <strong><h3><%= curation.title %></h3></strong>
        <% end %>

        <ul>
          <% curation.videos.each do |video| %>
            <% video.video_tags.each do |tag| %>
              <li><%= tag.tag.tag %></li>
            <% end %>
          <% end %>
        </ul>
        <div><p>[todo]保存リストに追加</p></div>
        <% curation.curation_comments.each do |comment| %>
          <div class="comment">
            <%= comment.user.username %>
            <%= comment.comment %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Curation', new_curation_path %>
